POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
POSTGRES_DB=taxi_dw
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Format: YYYY-MM, must exist at https://d37ci6vzurychx.cloudfront.net/trip-data/
TAXI_MONTH=2025-05

PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
